#loader{

position:fixed;
top:0;
left:0;

width:100%;
height:100vh;

background:#001219;

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

z-index:99999;

transition:1s;

}

.loader-logo{

font-size:60px;

color:#fca311;

animation:spin 3s linear infinite;

}

.loader-text{

margin-top:20px;

font-size:26px;

letter-spacing:3px;

color:white;

}

.loader-hide{

opacity:0;
visibility:hidden;

}

@keyframes spin{

from{

transform:rotate(0deg);

}

to{

transform:rotate(360deg);

}

}