/* =======================================================
   GLOBAL STYLES
=======================================================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{

margin:0;

padding:0;

box-sizing:border-box;

scroll-behavior:smooth;

}

html{

scroll-behavior:smooth;

}

body{

font-family:'Poppins',sans-serif;

background:var(--dark);

color:var(--white);

overflow-x:hidden;

line-height:1.7;

}

/* Scrollbar */

::-webkit-scrollbar{

width:10px;

}

::-webkit-scrollbar-track{

background:#02151d;

}

::-webkit-scrollbar-thumb{

background:var(--primary);

border-radius:50px;

}

::-webkit-scrollbar-thumb:hover{

background:#ffcb5c;

}

/* Images */

img{

display:block;

max-width:100%;

}

/* Links */

a{

text-decoration:none;

}

/* Buttons */

button{

font-family:'Poppins',sans-serif;

cursor:pointer;

}

/* Section */

section{

padding:100px 8%;

position:relative;

}

/* Heading */

section h2{

font-size:3rem;

margin-bottom:60px;

text-align:center;

color:var(--primary);

text-shadow:0 0 15px rgba(252,163,17,.4);

}

/* Paragraph */

p{

color:#dddddd;

}

/* Footer */

footer{

padding:40px;

text-align:center;

background:#000814;

}

footer p{

margin:10px 0;

}

/* Selection */

::selection{

background:var(--primary);

color:black;

}

/* Utility */

.container{

width:min(1300px,100%);

margin:auto;

}