/* =====================================
   MILESTONE 2 - PART A
   Ocean + Hero + Waves
======================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    min-height:100vh;
    overflow:hidden;
    color:white;
    position:relative;
}

/* Ocean */

.ocean{

    position:fixed;
    inset:0;

    background:
    linear-gradient(
        -45deg,
        #021B3A,
        #063970,
        #0B5FA5,
        #1CA7EC,
        #0B5FA5
    );

    background-size:500% 500%;

    animation:oceanMove 18s ease infinite;

    z-index:-10;

}

@keyframes oceanMove{

    0%{background-position:0% 50%;}

    50%{background-position:100% 50%;}

    100%{background-position:0% 50%;}

}

/* Sun */

.sun-glow{

    position:absolute;

    width:550px;
    height:550px;

    right:-150px;
    top:-180px;

    border-radius:50%;

    background:rgba(255,209,102,.22);

    filter:blur(140px);

    animation:floatGlow 9s ease-in-out infinite;

    z-index:-9;

}

@keyframes floatGlow{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(35px);
    }

}

/* Hero */

.hero{

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.hero-content{

    width:90%;

    max-width:720px;

    padding:60px;

    border-radius:30px;

    text-align:center;

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.18);

    box-shadow:0 25px 60px rgba(0,0,0,.35);

}

.logo{

    font-size:72px;

    margin-bottom:20px;

}

h1{

    font-size:68px;

    color:#FFD166;

    margin-bottom:18px;

    text-shadow:0 0 25px rgba(255,209,102,.4);

}

p{

    font-size:22px;

    color:#F5F5F5;

    margin-bottom:40px;

    line-height:1.6;

}

button{

    padding:18px 45px;

    border:none;

    border-radius:50px;

    background:#FFD166;

    color:#021B3A;

    font-size:20px;

    font-weight:bold;

    cursor:pointer;

    transition:.35s;

}

button:hover{

    transform:translateY(-5px);

    box-shadow:0 15px 35px rgba(255,209,102,.45);

}

/* Waves */

.wave{

    position:absolute;

    left:-50%;

    width:200%;

    height:240px;

    border-radius:45%;

    background:rgba(255,255,255,.07);

}

.wave1{

    bottom:-90px;

    animation:waveMove 12s linear infinite;

    z-index:-6;

}

.wave2{

    bottom:-125px;

    opacity:.5;

    animation:waveMove 18s linear infinite reverse;

    z-index:-5;

}

.wave3{

    bottom:-170px;

    opacity:.25;

    animation:waveMove 24s linear infinite;

    z-index:-4;

}

@keyframes waveMove{

    from{

        transform:translateX(0);

    }

    to{

        transform:translateX(-25%);

    }

}